.bundle
build
.sass-cache
vendor/bundle
source/images/gobans/high/*/*.jpg
source/images/gobans/medium/*/*.jpg
source/images/gobans/small/*/*.jpg
source/images/gobans/original/*/*.jpg
source/images/gobans/high/gosu.jpg
source/images/gobans/high/kamakor.jpg
source/images/gobans/medium/gosu.jpg
source/images/gobans/medium/kamakor.jpg
source/images/gobans/original/gosu.jpg
source/images/gobans/original/kamakor.jpg
source/images/gobans/small/gosu.jpg
source/images/gobans/small/kamakor.jpg


