@import "bootstrap.min.css";

@mixin small-shadow {
  box-shadow: 3px 3px 3px #888;
}

@mixin clean-list {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    margin: 0;
    padding: 0;
  }
}

@mixin clean-inlined-list {
  @include clean-list;
  li {
    display: inline-block;
  }
}

div.army {
  .details {
    table {
      tr.ozekis, tr.heros, tr.bakutos {
        min-height: 110px;
        td {
          border:5px solid transparent;
          height: 100px;
          width: 70px;
          text-align: center;
          font-size: 6pt;
          background: url(../images/gobans/small/placeholder-bw.jpg) no-repeat;
        }
        span.card {
          display: block;
          @include small-shadow;
        }
      }
    }
  }
  .summary {
    ul {
      @include clean-list;
    }
  }
}

div.popover.army-card {
  .popover-inner {
    width: auto;
    .popover-content {
      padding: 2px;
      border-radius: 3px;
    }
  }
}

div.deck {
  @include small-shadow;
  margin: 5px;
  background: #CCC;
  border-radius: 5px;
  max-width: 569px;
  div.commands {
    text-align: center;
    ul {
      @include clean-inlined-list;
      padding: 5px;
      li select {
        margin: 0;
      }
    }
  }
  div.content {
    height: 447px;
    div.zoom {
      float: left;
      margin: 5px;
      @include small-shadow;
    }
    ul.list {
      @include clean-inlined-list;
      height: 100%;
      width: 255px;
      float: left;
      overflow: auto;
      overflow-x: hidden;
      li {
        margin: 5px;
        height: 100px;
        width: 70px;
        @include small-shadow;
      }
    }
  }
}

div.clear {
  clear:both;
}
