@import "bootstrap.min.css";

@mixin small-shadow {
  box-shadow: 3px 3px 3px #888;
}

div.army {
  ul.ozekis, ul.heros, ul.bakutos {
    list-style: none;
    margin: 0;
    padding: 0;
    min-height: 110px;
    li {
      margin: 5px;
      display: inline-block;
      height: 100px;
      width: 70px;
      text-align: center;
      font-size: 6pt;
      background: url(../images/gobans/small/placeholder.jpg);
      @include small-shadow;
    }
  }
}

div.popover.army-card {
  .popover-inner {
    width: auto;
    .popover-content {
      padding: 2px;
      border-radius: 3px;
    }
  }
}

div.deck {
  @include small-shadow;
  margin: 5px;
  background: #CCC;
  border-radius: 5px;
  max-width: 569px;
  div.commands {
    text-align: center;
    ul {
      margin: 0;
      padding: 5px;
      list-style:none;
      li {
        display: inline-block;
        select {
          margin: 0;
        }
      }
    }
  }
  div.content {
    height: 447px;
    div.zoom {
      float: left;
      margin: 5px;
      @include small-shadow;
    }
    ul.list {
      height: 100%;
      width: 255px;
      float: left;
      overflow: auto;
      overflow-x: hidden;
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        display: inline-block;
        margin: 5px;
        height: 100px;
        width: 70px;
        @include small-shadow;
      }
    }
  }
}

div.clear {
  clear:both;
}
