@import "bootstrap.min.css";

div.army {
  ul.ozekis, ul.heros, ul.bakutos {
    list-style: none;
    margin: 0;
    padding: 0;
    min-height: 102px;
    li {
      margin: 5px 5px;
      display: inline-block;
      border: 1px solid black;
      height: 100px;
      width: 70px;
      text-align: center;
      font-size: 6pt;
      background: url(/images/gobans/small/placeholder.jpg);
    }
  }
}

div.popover.army-card {
  .popover-inner {
    width: auto;
    .popover-content {
      padding: 2px;
      border-radius: 3px;
    }
  }
}
