- content_for :head do
  = javascript_include_tag 'application'
  = stylesheet_link_tag "site.css"
  %title Gosu Online

  %script#goban-card-template(type="text/template")
    :plain
      <img src="<%= url %>" title="<%= attr.name %>" />

  %script#goban-army-template(type="text/template")
    .summary
      %ul.options
        %li.advantage
        %li.victories
        %li.tokens
      %ul.constants
        %li.army-value
        %li.hand-count
    .details
      %table
        - ["ozekis", "heros", "bakutos"].each do |level|
          %tr{:class => level}
            - 5.times do
              %td

  %script#goban-deck-template(type="text/template")
    .commands
      %ul
        %li
          %select.filter(name="level-filter")
            %option(value="")
            %option(value="bakuto") Bakutos
            %option(value="hero") Heros
            %option(value="ozeki") Ozekis
        %li
          %select.filter(name="clan-filter")
            %option(value="")
            %option(value="alpha") Gobelins Alphas
            %option(value="ancient") Anciens Gobans
            %option(value="fire") Gobelins de Feu
            %option(value="dark") Sombres Gobelins
            %option(value="meka") Meka Gobelins
        %li
          %button#clear-filter-btn Clean
    .content
      .zoom
      %ul.list
      .clear
