- content_for :head do
  = javascript_include_tag 'application'
  = stylesheet_link_tag "site.css"
  %title Gosu Online

  %script#goban-card-template(type="text/template")
    :plain
      <img src="<%= url %>" title="<%= attr.name %>" />

  %script#goban-army-template(type="text/template")
    :plain
      <ul class="ozekis"></ul>
      <ul class="heros"></ul>
      <ul class="bakutos"></ul>

  %script#goban-deck-template(type="text/template")
    :plain
      <div class="zoom"></div>
      <ul class="list"></ul>
      <div class="clear"></div>
