- content_for :head do
  = javascript_include_tag 'application'
  = stylesheet_link_tag "site.css"
  %title Gosu Online

  %script#goban-card-template(type="text/template")
    :plain
      <img src="<%= url %>" title="<%= attr.name %>" />

  %script#goban-army-template(type="text/template")
    :plain
      <ul class="ozekis"></ul>
      <ul class="heros"></ul>
      <ul class="bakutos"></ul>

  %script#goban-deck-template(type="text/template")
    :plain
      <div class="commands">
        <ul>
          <li>
            <select class="filter" name="level-filter">
              <option value=""></option>
              <option value="bakuto">Bakutos</option>
              <option value="hero">Heros</option>
              <option value="ozeki">Ozekis</option>
            </select>
          </li>
          <li>
            <select class="filter" name="clan-filter">
              <option value=""></option>
              <option value="alpha">Gobelins Alphas</option>
              <option value="ancient">Anciens Gobans</option>
              <option value="fire">Gobelins de Feu</option>
              <option value="dark">Sombres Gobelins</option>
              <option value="meka">Meka Gobelins</option>
            </select>
          </li>
          <li>
            <button id="clear-filter-btn">Clean</button>
          </li>
        </ul>
      </div>
      <div class="content">
        <div class="zoom"></div>
        <ul class="list"></ul>
        <div class="clear"></div>
      </div>
